<link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="img/LOGO.png" style="width: 50px; height: 45px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link" href="/camps">Camps</a>
                <a class="nav-item nav-link" href="/addCamp">Add Camp</a>
            </div>
        </div>
    </nav>
    <div class="globe"></div>
    <div class="container">
        <div class="box-2">
            <h2><u>Background</u></h2>
            <p>The number of people displaced from their home communities because of natural disasters or conflict has
                grown to 68.5 million people worldwide. Approximately 40 million of these people are Internally
                Displaced People (IDP), since they remain inside their country's borders. Another 25.4 million leave
                their countries and settle abroad as refugees, with the remaining roughly 3.1 million being at an
                intermediate stage of seeking asylum. Many IDP and refugees re-settle in urban areas or settlements
                planned by a humanitarian organization, while others self-settle in unplanned, usually rural
                settlements.
        </div>
        <div class="box-1">
            <h2><u>Introduction</u></h2>
            <p>First of all,what is a refugee? A refugee is a person who has fled their own country of nationality or
                habitual residence, and cannot return due to fear of persecution on account of their race, religion,
                nationality, membership in a particular social group, or political opinion, and is unable or unwilling
                to avail themselves of the protection of that country, or to return there, for fear of persecution

                There are dozens of refugee camps all across Europe,all serving the purpose of housing individuals in
                need that escaped their home country because of war or poverty,or have been exiled.In these
                camps,non-profit organizations are ready to house,feed and provide shelter to these
                families.Though,lots of these camps share the same problem,that being extremely poor living
                conditions,disease-causing filth and general unhappiness.

                Mostly,these camps are concentrated around regions such as the Middle East,Europe and Africa.

                In our project,we are looking on camps whose locations are based in different regions of Europe.

                The inhabitants in these camps are,for most of the time,families with small children to take care
                of.They come from places involved in conflicts and wars,like Syria,Iraq,different parts of Africa etc.

                There are also people who come to these camps to get to live in another country,in hopes of a better
                life.Such camps can be found in Germany,Italy,Greece and are usually located in islands or outskirts of
                large cities.</p>
        </div>

    </div>